<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>莘莘网</title>
<include file="./Application/Home/View/Public/head.html" />

<link type="text/css" rel="stylesheet" href="__PUBLIC__/fullcalendar/fullcalendar.min.css" />

<script type="text/javascript" src="__PUBLIC__/home/js/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="__PUBLIC__/jquery-ui/jquery-ui.min.js"></script>
</head>
<body>
    <!--容器begin-->
    <div class="container-body">
        <!--头部begin-->
        <include file="./Application/Home/View/Public/navigation.html" />
        <!--头部end-->
        <!--容器begin-->
        <include file="./Application/Home/View/Public/studyCalendar.html" />
        <!--容器end-->
        <!--中间begin-->
        <div class="container school-box">
            <include file="./Application/Home/View/Public/schoolNav.html" />
            <div class="school-main-box">
                <div class="l-bg-top"></div>
                <div class="l-bg-bottom"></div>
                <div class="l-bg-conent"></div>
                <div class="school-tb"></div>
                <!--左侧栏开始-->
                <div class="school-side">
                    <div class="side-bg">
                    	<span onclick="ShowTab(1,1,9)" id="Span1">校历</span>
                    	<empty name="level1Info">
                    		<span onclick="ShowTab(2,1,9)" id="Span2" style="display:none">学前</span>
                    	<else/>
                    		<span onclick="ShowTab(2,1,9)" id="Span2">学前</span>
                    	</empty>
                    	<empty name="level2Info">
	                    	<span onclick="ShowTab(3,1,9)" id="Span3" style="display:none">小学</span>
	                    <else/>
	                    	<span onclick="ShowTab(3,1,9)" id="Span3">小学</span>
	                    </empty>
	                    <empty name="level3Info">
	                    	<span onclick="ShowTab(4,1,9)" id="Span4" style="display:none">初中</span>
	                    <else/>
	                    	<span onclick="ShowTab(4,1,9)" id="Span4">初中</span>
	                    </empty>
	                    <empty name="level4Info">
	                    	<span onclick="ShowTab(5,1,9)" id="Span5" style="display:none">高中</span>
	                    <else/>
	                    	<span onclick="ShowTab(5,1,9)" id="Span5">高中</span>
	                    </empty>
	                    <empty name="level5Info">
	                    	<span onclick="ShowTab(6,1,9)" id="Span6" style="display:none">预科</span>
	                    <else/>
	                    	<span onclick="ShowTab(6,1,9)" id="Span6">预科</span>
	                    </empty>
	                    <empty name="level6Info">
	                    	<span onclick="ShowTab(7,1,9)" id="Span7" style="display:none">本科</span>
	                    <else/>
	                    	<span onclick="ShowTab(7,1,9)" id="Span7">本科</span>
	                    </empty>
	                    <span onclick="ShowTab(8,1,9)" id="Span8">招生简章</span>
                    </div>
                </div>
                <!--左侧栏结束-->
                <!--右侧栏开始-->
                <div class="school-right">
                    <div class="school-right-box">
                        <div class="r-main-box">
                            <!--招生简章begin-->
                            <div id="Tab8">
                                <h2 class="lv"><span>招生简章</span></h2>
                                <div class="main-box">  
                                    <ul class="xxjs-list">
			                        	<volist name="guideList" id="vo" empty="正在添加...">
			                        		<li>
				                                <a href="#"><img src="__PUBLIC__/home/images/jpg1.jpg" alt="" /></a>
				                                <div class="con">
				                                    <div class="xxjs-list-tit"><span class="sxzd lv"><a href="__APP__/home/news/newsDetail/id/{$vo.article_id}" >{$vo.article_title}</a></span></div>
				                                    <div class="xxjs-main">{$vo.article_excerpt}</div>
				                                    <div class="icon-ai">
				                                        <span class="icon-z">置顶{$vo.article_top}</span>
				                                        <span class="icon-j">精华{$vo.article_elite}</span>
				                                    </div>
				                                    <div class="icon-box">
				                                        <span class="icon-y">有用{$vo.article_useful}</span>
				                                        <span class="icon-yue">阅读数{$vo.article_read}</span>
				                                        <span class="icon-g">跟帖数{$vo.article_comment}</span>
				                                    </div>
				                                </div>
				                            </li>
			                        	</volist>
			                        </ul>
			                        <div class="green-black">
										　　{$page}
									</div>
                                </div>
                            </div>
                            <!--招生简章end-->
                            <!--学前begin-->
                            <div id="Tab2">
                                <div class="hd-box">  
                                    <img src="__ROOT__/Uploads/{$schoolInfo.school_photo}"  style="width:239px; height:219px; margin:74px auto 133px; display:block;" />
                                    <div class="xxbox">
                                        <table class="xtable">
                                            <tr>
                                                <th>课程体系</th>
                                                <td>{$level1Info.kctx}</td>
                                            </tr>
                                            <tr>
                                                <th>课程设置</th>
                                                <td>{$level1Info.kcsz}</td>
                                            </tr>
                                            <tr>
                                                <th>招生对象</th>
                                                <td>{$level1Info.zsdx}</td>
                                            </tr>
                                            <tr>
                                                <th>招生规模</th>
                                                <td>{$level1Info.zsgm}</td>
                                            </tr>
                                            <tr>
                                                <th>学费</th>
                                                <td>{$level1Info.xf}</td>
                                            </tr>
                                            <tr>
                                                <th>是否招收中国学生</th>
                                                <td>{$level1Info.zszgxs}</td>
                                            </tr>
                                            <tr>
                                                <th>是否接受插班生</th>
                                                <td>{$level1Info.cbs}</td>
                                            </tr>
                                            <tr>
                                                <th>住宿条件</th>
                                                <td>{$level1Info.zs}</td>
                                            </tr>
                                            <tr>
                                                <th>入学标准</th>
                                                <td>{$level1Info.rxbz}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试科目</th>
                                                <td>{$level1Info.kskm}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试安排</th>
                                                <td>{$level1Info.ksap}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div> 
                            </div>                            
                            <!--学前end-->
                            <!--小学begin-->
                            <div id="Tab3">
                                <div class="hd-box">  
                                    <img src="__ROOT__/Uploads/{$schoolInfo.school_photo}"  style="width:239px; height:219px; margin:74px auto 133px; display:block;" />
                                    <div class="xxbox">
                                        <table class="xtable">
                                            <tr>
                                                <th>课程体系</th>
                                                <td>{$level2Info.kctx}</td>
                                            </tr>
                                            <tr>
                                                <th>课程设置</th>
                                                <td>{$level2Info.kcsz}</td>
                                            </tr>
                                            <tr>
                                                <th>招生对象</th>
                                                <td>{$level2Info.zsdx}</td>
                                            </tr>
                                            <tr>
                                                <th>招生规模</th>
                                                <td>{$level2Info.zsgm}</td>
                                            </tr>
                                            <tr>
                                                <th>学费</th>
                                                <td>{$level2Info.xf}</td>
                                            </tr>
                                            <tr>
                                                <th>是否招收中国学生</th>
                                                <td>{$level2Info.zszgxs}</td>
                                            </tr>
                                            <tr>
                                                <th>是否接受插班生</th>
                                                <td>{$level2Info.cbs}</td>
                                            </tr>
                                            <tr>
                                                <th>住宿条件</th>
                                                <td>{$level2Info.zs}</td>
                                            </tr>
                                            <tr>
                                                <th>入学标准</th>
                                                <td>{$level2Info.rxbz}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试科目</th>
                                                <td>{$level2Info.kskm}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试安排</th>
                                                <td>{$level2Info.ksap}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>                        
                            <!--小学end-->
                            <!--初中begin-->
                            <div id="Tab4">
								<div class="hd-box">  
                                    <img src="__ROOT__/Uploads/{$schoolInfo.school_photo}"  style="width:239px; height:219px; margin:74px auto 133px; display:block;" />
                                    <div class="xxbox">
                                        <table class="xtable">
                                            <tr>
                                                <th>课程体系</th>
                                                <td>{$level3Info.kctx}</td>
                                            </tr>
                                            <tr>
                                                <th>课程设置</th>
                                                <td>{$level3Info.kcsz}</td>
                                            </tr>
                                            <tr>
                                                <th>招生对象</th>
                                                <td>{$level3Info.zsdx}</td>
                                            </tr>
                                            <tr>
                                                <th>招生规模</th>
                                                <td>{$level3Info.zsgm}</td>
                                            </tr>
                                            <tr>
                                                <th>学费</th>
                                                <td>{$level3Info.xf}</td>
                                            </tr>
                                            <tr>
                                                <th>是否招收中国学生</th>
                                                <td>{$level3Info.zszgxs}</td>
                                            </tr>
                                            <tr>
                                                <th>是否接受插班生</th>
                                                <td>{$level3Info.cbs}</td>
                                            </tr>
                                            <tr>
                                                <th>住宿条件</th>
                                                <td>{$level3Info.zs}</td>
                                            </tr>
                                            <tr>
                                                <th>入学标准</th>
                                                <td>{$level3Info.rxbz}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试科目</th>
                                                <td>{$level3Info.kskm}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试安排</th>
                                                <td>{$level3Info.ksap}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--初中end-->
                            <!--高中begin-->
                            <div id="Tab5">
								<div class="hd-box">  
                                    <img src="__ROOT__/Uploads/{$schoolInfo.school_photo}"  style="width:239px; height:219px; margin:74px auto 133px; display:block;" />
                                    <div class="xxbox">
                                        <table class="xtable">
                                            <tr>
                                                <th>课程体系</th>
                                                <td>{$level4Info.kctx}</td>
                                            </tr>
                                            <tr>
                                                <th>课程设置</th>
                                                <td>{$level4Info.kcsz}</td>
                                            </tr>
                                            <tr>
                                                <th>招生对象</th>
                                                <td>{$level4Info.zsdx}</td>
                                            </tr>
                                            <tr>
                                                <th>招生规模</th>
                                                <td>{$level4Info.zsgm}</td>
                                            </tr>
                                            <tr>
                                                <th>学费</th>
                                                <td>{$level4Info.xf}</td>
                                            </tr>
                                            <tr>
                                                <th>是否招收中国学生</th>
                                                <td>{$level4Info.zszgxs}</td>
                                            </tr>
                                            <tr>
                                                <th>是否接受插班生</th>
                                                <td>{$level4Info.cbs}</td>
                                            </tr>
                                            <tr>
                                                <th>住宿条件</th>
                                                <td>{$level4Info.zs}</td>
                                            </tr>
                                            <tr>
                                                <th>入学标准</th>
                                                <td>{$level4Info.rxbz}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试科目</th>
                                                <td>{$level4Info.kskm}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试安排</th>
                                                <td>{$level4Info.ksap}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
							<!--高中end-->
							<!--预科start-->
							<div id="Tab6">
								<div class="hd-box">  
                                    <img src="__ROOT__/Uploads/{$schoolInfo.school_photo}"  style="width:239px; height:219px; margin:74px auto 133px; display:block;" />
                                    <div class="xxbox">
                                        <table class="xtable">
                                            <tr>
                                                <th>课程体系</th>
                                                <td>{$level5Info.kctx}</td>
                                            </tr>
                                            <tr>
                                                <th>课程设置</th>
                                                <td>{$level5Info.kcsz}</td>
                                            </tr>
                                            <tr>
                                                <th>招生对象</th>
                                                <td>{$level5Info.zsdx}</td>
                                            </tr>
                                            <tr>
                                                <th>招生规模</th>
                                                <td>{$level5Info.zsgm}</td>
                                            </tr>
                                            <tr>
                                                <th>学费</th>
                                                <td>{$level5Info.xf}</td>
                                            </tr>
                                            <tr>
                                                <th>是否招收中国学生</th>
                                                <td>{$level5Info.zszgxs}</td>
                                            </tr>
                                            <tr>
                                                <th>是否接受插班生</th>
                                                <td>{$level5Info.cbs}</td>
                                            </tr>
                                            <tr>
                                                <th>住宿条件</th>
                                                <td>{$level5Info.zs}</td>
                                            </tr>
                                            <tr>
                                                <th>入学标准</th>
                                                <td>{$level5Info.rxbz}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试科目</th>
                                                <td>{$level5Info.kskm}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试安排</th>
                                                <td>{$level5Info.ksap}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--预科end-->
                            <!--本科begin-->
                            <div id="Tab7">
								<div class="hd-box">  
                                    <img src="__ROOT__/Uploads/{$schoolInfo.school_photo}"  style="width:239px; height:219px; margin:74px auto 133px; display:block;" />
                                    <div class="xxbox">
                                        <table class="xtable">
                                            <tr>
                                                <th>课程体系</th>
                                                <td>{$level6Info.kctx}</td>
                                            </tr>
                                            <tr>
                                                <th>课程设置</th>
                                                <td>{$level6Info.kcsz}</td>
                                            </tr>
                                            <tr>
                                                <th>招生对象</th>
                                                <td>{$level6Info.zsdx}</td>
                                            </tr>
                                            <tr>
                                                <th>招生规模</th>
                                                <td>{$level6Info.zsgm}</td>
                                            </tr>
                                            <tr>
                                                <th>学费</th>
                                                <td>{$level6Info.xf}</td>
                                            </tr>
                                            <tr>
                                                <th>是否招收中国学生</th>
                                                <td>{$level6Info.zszgxs}</td>
                                            </tr>
                                            <tr>
                                                <th>是否接受插班生</th>
                                                <td>{$level6Info.cbs}</td>
                                            </tr>
                                            <tr>
                                                <th>住宿条件</th>
                                                <td>{$level6Info.zs}</td>
                                            </tr>
                                            <tr>
                                                <th>入学标准</th>
                                                <td>{$level6Info.rxbz}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试科目</th>
                                                <td>{$level6Info.kskm}</td>
                                            </tr>
                                            <tr>
                                                <th>入学考试安排</th>
                                                <td>{$level6Info.ksap}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--本科end-->                
                            <!--招生活动end-->
                            <div id="Tab1">
                                <div class="hd-box"> 
<!--                                 	<div class="zshd">
                                		<img src="__PUBLIC__/home/images/schedule_logo.jpg" />
                                	</div>  -->
                                    <div class="zshd">
                                        <!-- <div class="fm-l">
                                            <img src="__PUBLIC__/home/images/adx.jpg" />
                                            <div class="fm-t">
                                            </div>
                                            <volist name="activityList" id="vo">
                                        		<div class="fm-d"><span>{$vo.activity_startdate}</span><span>{$vo.activity_title}</span></div>
                                        	</volist>
                                            <div class="fm-btn text-center"><a href="#" class=" btn-default btn ">免费预约</a></div>
                                        </div>-->
                                        <!--<div class="rl-r">-->
                                            <!--学校日历begin-->
											<div id="calendar1"></div>
										    <!--学校日历end-->  
                                        <!--</div>-->
                                        <div class="clearfix"></div>
                                    </div>
                                    
									<div class="hd-libox">
                                        <div class="hd-tit"><span id="activityTitle"></span></div>
                                        <ul class="ol-li">
                                            <li><span  id="activityDetail"></span></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>

                                    <!-- <div class="hd-libox" style="height:800px">
                                        <div class="hd-tit"><span id="activityTitle"></span></div>
                                        <div class="hd-detail" id="activityDetail">4234234
						                </div>
                                    </div>
                                    <div class="clearfix"></div> -->
                                </div> 
                            </div>
                            <!--招生活动end-->
                        </div>       
                        <SCRIPT type="text/javascript">ShowTab({$showTab}, 1, 9);</SCRIPT>
                    </div>             
                    
                </div>
                <!--右侧栏结束-->        
            </div>
        </div>
        <!--中间end-->
        
        <!--评论begin-->
        <div class="container comment" style="display:none">
            <div class="comment-box">
                <h1><span>我的点评</span></h1>
                <div class="comment-main">
                    <img src="__PUBLIC__/home/images/plc.jpg"  style="margin:40px 0;" />
                </div>
                <h1><span>最新点评</span></h1>
                <div class="comment-main">
                    <ul class="PinL">
                        <li>
                            <div class="img">
                                <a href="#"><img src="__PUBLIC__/home/images/pl.jpg" /></a>
                            </div>
                            <div class="box">
                                <div class="box-main">
                                    <div class="tit">
                                        <span class="us-time">2015年9月28日 15:32</span>
                                        <span class="us-name"><a href="#">几乎成律</a></span><span>丨</span><span class="us-zd">针对“学校硬件”发表</span>
                                    </div>
                                    <div class="conn">
                                        <p>我是上师大剑桥国际的学生，我个人认为我们学校不错。首先，所有的外教每人都有很高的学位。学校也充分为我们学生着想，我们不仅上英国的教材，还上国内高中同步教材。我们学校是一个很不错的选择。</p>
                                    </div>
                                    <div class="ico">
                                        <div class="ico-box">
                                             <i class="gap-gw"></i>
                                            <span class="click-ding-gw"><a href="javascript:void(0)" title="顶" class="evt-support"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-cai-gw"><a href="javascript:void(0)" title="踩" class="evt-opposed"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-reply-gw click-reply-eg"><a href="javascript:void(0)" class="evt-reply">回复</a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-share-gw click-reply-eg"><a href="javascript:void(0)" class="evt-share">分享</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#"><img src="__PUBLIC__/home/images/pl.jpg" /></a>
                            </div>
                            <div class="box">
                                <div class="box-main">
                                    <div class="tit">
                                        <span class="us-time">2015年9月28日 15:32</span>
                                        <span class="us-name"><a href="#">几乎成律</a></span><span>丨</span><span class="us-zd">针对“学校硬件”发表</span>
                                    </div>
                                    <div class="conn">
                                        <p>我是上师大剑桥国际的学生，我个人认为我们学校不错。首先，所有的外教每人都有很高的学位。学校也充分为我们学生着想，我们不仅上英国的教材，还上国内高中同步教材。我们学校是一个很不错的选择。</p>
                                    </div>
                                    <div class="ico">
                                        <div class="ico-box">
                                             <i class="gap-gw"></i>
                                            <span class="click-ding-gw"><a href="javascript:void(0)" title="顶" class="evt-support"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-cai-gw"><a href="javascript:void(0)" title="踩" class="evt-opposed"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-reply-gw click-reply-eg"><a href="javascript:void(0)" class="evt-reply">回复</a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-share-gw click-reply-eg"><a href="javascript:void(0)" class="evt-share">分享</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#"><img src="__PUBLIC__/home/images/pl.jpg" /></a>
                            </div>
                            <div class="box">
                                <div class="box-main">
                                    <div class="tit">
                                        <span class="us-time">2015年9月28日 15:32</span>
                                        <span class="us-name"><a href="#">几乎成律</a></span><span>丨</span><span class="us-zd">针对“学校硬件”发表</span>
                                    </div>
                                    <div class="conn">
                                        <p>我是上师大剑桥国际的学生，我个人认为我们学校不错。首先，所有的外教每人都有很高的学位。学校也充分为我们学生着想，我们不仅上英国的教材，还上国内高中同步教材。我们学校是一个很不错的选择。</p>
                                    </div>
                                    <div class="ico">
                                        <div class="ico-box">
                                             <i class="gap-gw"></i>
                                            <span class="click-ding-gw"><a href="javascript:void(0)" title="顶" class="evt-support"><i class="icon-gw icon-ding-bg"></i><em class="icon-name-bg"></em></a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-cai-gw"><a href="javascript:void(0)" title="踩" class="evt-opposed"><i class="icon-gw icon-cai-bg"></i><em class="icon-name-bg"></em></a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-reply-gw click-reply-eg"><a href="javascript:void(0)" class="evt-reply">回复</a></span>
                                            <i class="gap-gw"></i>
                                            <span class="click-share-gw click-reply-eg"><a href="javascript:void(0)" class="evt-share">分享</a></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="area">
                                        <div class="areabox">
                                            <textarea name="" class="textarea"></textarea>
                                        </div>
                                        <div class="actio">
                                            <div class="actio-box">
                                                <ul class="clear-g">
                                                    <li class="function-face-w"><a href="javascript:void(0)" class="effect-w" title="表情"><i class="face-b"></i></a></li>
                                                    <li class="function-uploadimg-w"><a href="javascript:void(0)" class="effect-w" title="上传图片"><i class="uploadimg-b"></i></a><div class="uploadimg-file-w"></div><div class="img-btn-cover" style="width:40px;height:40px;margin-top:-40px;z-index:-1;position: relative;"></div></li>
                                                </ul>
                                            </div>
                                            <div class="hf">
                                                <div class="hf-box">
                                                    <span>0/140</span><span class="hf-btn">回复</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--评论end-->
    </div>
     <!--容器end-->
    <include file="./Application/Home/View/Public/footer.html" />
    <script type="text/javascript">
        $(function () {
            $('#owl-demo').owlCarousel({
                scrollPerPage: true,navigation:true,
                items: 1
            });
        });
    </script>
<script type="text/javascript">
	// Calendar Initialization
	jQuery(document).ready(function($)
	{
		$('#calendar1').fullCalendar({
			header: {
				left: 'prev',
				center: 'title',
				right: 'next'
			},
			monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
			,monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
			,dayNames: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"]
			,dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"]
			,titleFormat:{
				month: 'YYYY年M月'
				}
			,today: ["今天"]
			,firstDay: 1
			,buttonText: {today: '今天',prev: '<',next: '>'}
			,buttonIcons: {
				prev: 'prev fa-angle-left',
				next: 'next fa-angle-right',
			},
			// defaultDate: '2014-09-12',
			editable: true,
			eventLimit: true,
			droppable: false,
			events:function(start, end, timezone, callback) {
		        $.ajax({
		        	url:'__APP__/home/Activity/findActivitys?schoolId={$schoolId}',
		        	type:"POST",
		        	async:false,
		    		success:function(response, postdata) {
		    			$("#calendar1").fullCalendar('removeEvents');    
		    			for(var i=0;i<response.data.length;i++) {    
		            		var obj = new Object();    
		                   	//obj.id = response[i].id;    
		                   	obj.title = response.data[i].activity_title;  
		                   	//obj.url="/crm_web/schedule/scheduleDetail?scheduleId="+response[i].scheduleId; 
		                   	//obj.description = data[i].description;            
		                   	//obj.color = data[i].color;  
		                   	//obj.remindertime = $.fullCalendar.parseDate(data[i].remindertime);  
		                   	//obj.messagenotice = data[i].messagenotice;  
		                   //	obj.description = data[i].description;
		                   obj.description = response.data[i].activity_detail;
		                   	obj.start = response.data[i].activity_startdate;                   
		                   	obj.end = response.data[i].activity_enddate;   
		                   $("#calendar1").fullCalendar('renderEvent',obj,true);                     
		               } 
		    		}
		        }); //把从后台取出的数据进行封装以后在页面上以fullCalendar的方式进行显示  
		    },
		    eventClick: function(calEvent, jsEvent, view) {
		    	var activityTitle = calEvent.title;
		    	var activityDetail = calEvent.description;
		    	
		    	$('#activityTitle').html(activityTitle);
		    	$('#activityDetail').html(activityDetail);
	        } 
		});
	});
</script>
</body>
</html>
