<!DOCTYPE html>
<html>
<include file="./Application/Home/View/Public/head.html" />
<body>
    <div class="container-body">
        <!--头部begin-->
        <include file="./Application/Home/View/Public/navigation.html" />
        <!--头部end-->
        <!--容器begin-->
        <div class="container-fluid index-main  sx-bg" style="margin:0 -15px;">
            <!--轮播-->
            <div id="owl-demo" class="owl-carousel">
                <a class="item"><img src="__PUBLIC__/home/images/banner1.jpg" alt=""></a>
                <a class="item"><img src="__PUBLIC__/home/images/banner1.jpg" alt=""></a>
                <a class="item"><img src="__PUBLIC__/home/images/banner1.jpg" alt=""></a>
            </div>
            <!--轮播end-->
            <!--筛选-->
            <div class="container sx-box">
                <div class="title">
                    <span class="t1">国际学校查询</span>
                    <span class="t3">全国最全的国际学校分析、最客观的国际学校评价信息</span>
                    <div class=" t2 r-search" style="padding:0px; margin-top:0px;">
                     	<input type="hidden" id="type" name="type" value="{$type}"/>
                     	<input type="hidden" name="sql" value="{$sql}"/>
                        <input type="text" id="keyword" name="keyword" placeholder="关键字模糊搜索" value="{$keyword}" class="r-search-input form-control" style="width:90%;" />
                        <input type="button" onclick="doSearch('','')" class="r-searcj-btn" value="搜索" />
                         <div class="clearfix"></div>
                     </div> 

                    
                </div>
                <div class="row">
                <div class="col-sm-6">
                    <div class="sm-tit">
                        <div class="sm-tit1">课程阶段</div>
                        <div class="sm-tit2">
                            <span><a href="javascript:doSearch('','')">全部</a></span>
                            <volist name="stepList" id="vo">
                            	<span><a href="javascript:doSearch('school_step','{$vo.step_name}')">{$vo.step_name}</a></span>
                            </volist>
                        </div>
                    </div>
                    <div class="sm-tit">
                        <div class="sm-tit1">留学方向</div>
                        <div class="sm-tit2">
                            <span><a href="javascript:doSearch('','')">全部</a></span>
                            <volist name="abroadList" id="vo">
                            	<span><a href="javascript:doSearch('school_abroad','{$vo.abroad_name}')">{$vo.abroad_name}</a></span>
                            </volist>
                        </div>
                    </div>
                    <div class="sm-tit">
                        <div class="sm-tit1">最热课程</div>
                        <div class="sm-tit2">
                            <span><a href="javascript:doSearch('','')">全部</a></span>
                            <volist name="courseList" id="vo">
                            	<span><a href="javascript:doSearch('school_coursename','{$vo.course_name}')">{$vo.course_name}</a></span>
                            </volist>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    
                    <div class="sm-tit">
                        <div class="sm-tit1">地区</div>
                        <div class="sm-tit2">
                            <span><a href="javascript:doSearch('','')">全部</a></span>
                            <volist name="areaList" id="vo">
                            	<span><a href="javascript:doSearch('school_areaname','{$vo.area_name}')">{$vo.area_name}</a></span>
                            </volist>
                        </div>
                    </div>

                </div>
                </div>
                <!-- 
                <div class="fzcd">
                    <div class="zcd">
                        <i></i><a href="login.html"> 注册登录</a>
                    </div>
                    <div class="wdgz">
                       	 我的关注
                    </div>
                    <div class="zx">
                        <a href="#"><img src="__PUBLIC__/home/img/zx.png" /></a>
                    </div>
                </div>
                 -->
            </div>
            <!--筛选end-->
        </div>
        <!--容器end-->
		
        <div class="container">
        <!-- 
            <div class="row" style="margin:97px auto;">
                <div class="col-sm-3" style="padding-left:0px; height:314px">
                    <div class="right" style="height:264px;">
                <div class="schoolcalendar-title" style="height:50px; line-height:50px;">国际学校日历</div>
                <div class="schoolcalendar-main" style="height:264px;">
                    <img src="__PUBLIC__/home/images/schoolcalendar-mainbg.jpg">
                </div>
            </div>
                </div>
                <div class="col-sm-9" style="padding-left:0px; padding-right:0px;">

                    <div class="Admission">
                        <div class="group-title" style="margin-top:0px;">
                            <a href="#" class="group-item">
                                国际学校匹配推荐
                            </a>
                            <a href="#" class="group-item on">
                                国际学校录取评估
                            </a>
                        </div>
                        <div class="group-box">
                            <form action="#" method="post">
                            <div class="group">
                                <div class="item item1">
                                    <select class="form-control">
                                        <option>选择国际学校地区</option>
                                        <option>选择国际学校地区</option>
                                        <option>选择国际学校地区</option>
                                        <option>选择国际学校地区</option>
                                        <option>选择国际学校地区</option>
                                    </select>
                                </div>
                                <div class="item item2">
                                    <span class="item_label">最新英语成绩</span>
                                    <div class="right_box">
                                        <select class="form-control">
                                            <option>选择类型</option>
                                            <option>选择类型</option>
                                            <option>选择类型</option>
                                            <option>选择类型</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

            
                            <div class="group">
                                <div class="item item1">
                                    <select class="form-control">
                                        <option>选择热门课程</option>
                                        <option>选择热门课程</option>
                                        <option>选择热门课程</option>
                                        <option>选择热门课程</option>
                                    </select>
                                </div>
                                <div class="item item2">
                                        <input type="text" placeholder="填写其他英语考试" required="" value="" class="form-control input-con">
                    
                                </div>
                                    <div class="right_in">
                                        <input type="text" placeholder="填写成绩" class="form-control input-con">
                                    </div>
                                <div class="clearfix"></div>
                            </div>
            
                            <div class="group">
                                <div class="item item1">
                                    <span class="item_label">年纪</span>
                                    <div class="right_box">
                                        <div class="age">
                                            <select class="form-control">
                                                <option>年</option>
                                                <option>2015</option>
                                                <option>2014</option>
                                                <option>2013</option>
                                            </select>
                                        </div>
                                        <div class="age">
                                            <select class="form-control">
                                                <option>月</option>
                                                <option>12</option>
                                                <option>11</option>
                                                <option>10</option>
                                            </select>
                                        </div>
                                        <div class="age">
                                            <select class="form-control">
                                                <option>日</option>
                                                <option>31</option>
                                                <option>30</option>
                                                <option>29</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item2">
                                    <span class="item_label">最新数学成绩</span>
                                    <div class="right_box">
                                        <select class="form-control">
                                            <option>选择考试类型</option>
                                            <option>选择考试类型</option>
                                            <option>选择考试类型</option>
                                            <option>选择考试类型</option>
                                        </select>
                                    </div>
                                </div>
                                    <div class="right_in">
                                        <input type="text" placeholder="填写成绩" class="form-control input-con">
                                    </div>
                                <div class="clearfix"></div>
                            </div>


            
                            <div class="group">
                                <div class="item item1">
                                    <span class="item_label">就读/毕业于</span>
                                    <div class="right_box">
                                        <div class="diqux">
                                            <select class="form-control">
                                                <option>选择地区</option>
                                                <option>选择地区</option>
                                                <option>选择地区</option>
                                            </select>
                                        </div>
                                        <div class="schoolname">
                                                <input type="text" placeholder="输入学校名称" class="form-control input-con">
                                        </div>
                                    </div>
                                </div>
                                <div class="item item2">
                                    <span class="item_label">艺术特长</span>
                                    <div class="right_box">
                                        <select class="form-control">
                                            <option>选择类型</option>
                                            <option>选择类型</option>
                                            <option>选择类型</option>
                                            <option>选择类型</option>
                                        </select>
                                    </div>
                                </div>
                                    <div class="right_in">
                                        <input type="text" placeholder="填写详细成绩" class="form-control input-con">
                                    </div>
                                <div class="clearfix"></div>
                            </div>

            
                            <div class="group item_center">
                
                                    <div class="group-page">
                                        <select class="form-control">
                                            <option>选择留学方向</option>
                                            <option>选择留学方向</option>
                                            <option>选择留学方向</option>
                                            <option>选择留学方向</option>
                                        </select>
                                    </div>
                                <button class="btn btn-danger btn-star" type="submit">开&nbsp;&nbsp;&nbsp;&nbsp;始</button>
                                <div class="clearfix"></div>
                            </div>
                                </form>
                        </div>


        
        
            
                    </div>

                </div>
            </div>
             -->
            <!--------->

            <div class="tj-box">
                <div class="tj-span">
                    <a href="__APP__/home/school/schoolList/showflag/1">推荐学校</a>
                    <a href="__APP__/home/school/schoolList/showflag/0">新加入学校</a>
                </div>
                <div class="lunbo">
                    <div class="scroll-outer">
	                    <div id="scroll" class="owl-carousel">
	                    	<volist name="vslidechoolList" id="vo">
	                    		<div class="item">
				                    <empty name="vo.school_photo">
	                        			<img src="__PUBLIC__/home/images/lb1.jpg" width="239" height="219"/>
	                        		<else />
	                        		 	<img src="__ROOT__/Uploads/{$vo.school_photo}" width="239" height="219" />
	                        		 </empty>
				                    <div class="shd"><a href="__APP__/home/School/schoolDetail1/id/{$vo.school_id}"></a></div>
				                    <div class="txt">
					                    <h3><a href="__APP__/home/School/schoolDetail1/id/{$vo.school_id}">{$vo.school_name}</a></h3>
					                    <p>课程类型：{$vo.school_coursename|str_replace=',',' ',###}</p>
					                    <p>项目阶段：{$vo.school_step}</p>
					                    <p>所属地区：{$vo.school_areaname}</p>
	                                   <!-- <div class="lb-ht">话题区</div>
	                                    <div class="lb-ht2">+加关注</div> --> 
				                    </div>
			                    </div>
	                    	</volist>

	                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--以下-->
        <div class="container" style="margin-bottom:75px;">
            <div class="xueli-l left">
                <div class="bg title">
                    <div class="title-main">
                        <a href="#" class="cur">加入时间</a>|
                        <a href="#">关注度</a>|
                        <a href="#">点评数</a>
                    </div>
                </div>

                <div class="lib-li">
                	<volist name="vschoolList" id="vo">
                		<div class="col">
	                        <div class="dp">
	                            <a href="#">关注点分值</a>
	                            <a href="#">{$vo.comment_count}人点评</a>
	                        </div>
	                        <if condition="($attentionCount eq 0)">
	                        	<div class="g io"><a href="__APP__/home/School/attentionSchool/type/add/id/{$vo.school_id}">+关注</a></div> 
	                        <else />
	                        	<div class="g io"><a href="__APP__/home/School/attentionSchool/type/del/id/{$vo.school_id}">取消关注</a></div>
 							</if>
	                        <!-- <div class="h io">话题区</div>  -->
	                        <div class="img"><img src="__ROOT__/Uploads/{$vo.school_photo}" /></div>
	                        <div class="img-r">
	                            <div class="title">
	                                <a href="__APP__/home/School/schoolDetail1/id/{$vo.school_id}" class="tit">{$vo.school_name}</a>
	                               <!--  <a href="#" class="lib-btn">立即报名</a> -->
	                            </div>
	                            <div class="con">
	                                <span>所在地区：{$vo.school_areaname}</span>
	                                <span>课程体系：{$vo.school_coursename|str_replace=',',' ',###}</span>
	                            </div>
	                            <div class="clearfix"></div>
	                        </div>
	                        <div class="clearfix"></div>
	                    </div>
                	</volist>
                </div>
                <div class="green-black">
					　　{$page}
				</div>
                
            </div>
            <div class="xueli-r left">
                <div class="list-07">
                    <div class="list_08">
                        <img src="__PUBLIC__/home/images/list_08.jpg" />
                    </div>
                    <div class="list_09">
                        <ul>
                       		<volist name="topSchoolList" id="vo" >
                            	<li><i>{$i}</i><a href="__APP__/home/School/schoolDetail1/id/{$vo.school_id}">{$vo.school_name}</a></li>
                         	 </volist>
                        </ul>
                    </div>
                </div>
                <!-- 
                <div class="list-10">
                    <div class="tit10">
                        <div class="tit10-in">
                          	  最近浏览
                        </div>
                    </div>
                    <div class="list-11">
                        <div class="list-11img">
                            <img src="__PUBLIC__/home/images/list_11.jpg" />
                        </div>
                        <div class="list11-p">
                            <h3>北京爱迪国际学校</h3>
                            <div><span>课程类型：</span>A-Level</div>
                            <div><span>项目阶段：</span>高等教育阶段</div>
                            <div><span>所属地区：</span></div>
                        </div>
                        <div class="list11-h">+关注</div>
                        <div class="list11-g">话题区</div>
                    </div>
                    <div class="list-11">
                        <div class="list-11img">
                            <img src="__PUBLIC__/home/images/list_11.jpg" />
                        </div>
                        <div class="list11-p">
                            <h3>北京爱迪国际学校</h3>
                            <div><span>课程类型：</span>A-Level</div>
                            <div><span>项目阶段：</span>高等教育阶段</div>
                            <div><span>所属地区：</span></div>
                        </div>
                        <div class="list11-h">+关注</div>
                        <div class="list11-g">话题区</div>
                    </div>
                    <div class="list-11">
                        <div class="list-11img">
                            <img src="__PUBLIC__/home/images/list_11.jpg" />
                        </div>
                        <div class="list11-p">
                            <h3>北京爱迪国际学校</h3>
                            <div><span>课程类型：</span>A-Level</div>
                            <div><span>项目阶段：</span>高等教育阶段</div>
                            <div><span>所属地区：</span></div>
                        </div>
                        <div class="list11-h">+关注</div>
                        <div class="list11-g">话题区</div>
                    </div>
                    <div class="list-11">
                        <div class="list-11img">
                            <img src="__PUBLIC__/home/images/list_11.jpg" />
                        </div>
                        <div class="list11-p">
                            <h3>北京爱迪国际学校</h3>
                            <div><span>课程类型：</span>A-Level</div>
                            <div><span>项目阶段：</span>高等教育阶段</div>
                            <div><span>所属地区：</span></div>
                        </div>
                        <div class="list11-h">+关注</div>
                        <div class="list11-g">话题区</div>
                    </div>
                </div>
 -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <include file="./Application/Home/View/Public/footer.html" />
</body>
    
    <script type="text/javascript">
        $(function () {
            $('#owl-demo').owlCarousel({
                items: 1,navigation:true
            });

            //或者
            /*
            $('#owl-demo').owlCarousel({
                singleItem: true
            });
            */
        });

        $(function () {
            $('#scroll').owlCarousel({
                items: 5,
                autoPlay: true,
                navigation: true,
                navigationText: ["", ""],
                scrollPerPage: true,pagination:false
            });
        });
        
        // 查询事件
        function doSearch(type,typeValue){
        	var keyword = $("#keyword").val();
        	var strPara = '';
        	// 如果存在类型
        	if(type!=null && type!=''){
        		strPara = strPara+"/type/"+type+"/typeValue/"+typeValue;
        	}
        	// 如果存在关键字
        	if(keyword!=null && keyword!=''){
        		strPara = strPara +"/keyword/"+keyword;
        	}
        	window.location.href= "__APP__/home/school/schoolList"+strPara;
        }

    </script>
</html>
