<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>莘莘网</title>
<!-- bootstrap -->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css" />

<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/main.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/owl.carousel.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/owl.theme.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Admission.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/style.css" />
<!-- jquery -->
<script type="text/javascript" src="__PUBLIC__/home/js/jQuery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/sliding.js"></script>
</head>
<body>
	<div class="container-body">
        <!--头部begin-->
        <include file="./Application/Home/View/Public/navigation.html" />
        <!--头部end-->
        <!--topbannerbegin-->
		<div class="container">
			<div class="topbanner">
				<img src="__PUBLIC__/home/images/topbanner2.jpg" alt="" />
			</div>
		</div>
        <!--topbannerend-->
        <!--容器begin-->
		<div class="container"> 
			<div class="background-ff">    
				<div class="kcxx">
					<div class="kcxx-title">
						<div class="tio"><i class="s-ico"></i><span>学习小组</span></div>
					</div>
					<div class="kcxx-main">
						<div class="stxz">
							<volist name="studyGroupList" id="vo">
								<div class="item">
									<div class="item-bg">
										<div class="item-tbox">
											<div class="lv tit"><a href="__APP__/home/study/studyDetail/id/{$vo.school_id}" >{$vo.school_name}</a></div>
											<!-- <div class="pro"><a href="__APP__/home/study/studyDetail/id//{$vo.school_id}" >{$vo.school_name}</a></div> -->
										</div>
                                        <div class="item-mbox">
											<div class="col"><a href="__APP__/home/study/studyDetail/id/{$vo.school_id}" >
												<img src="__ROOT__/Uploads/{$vo.school_photo}" /></a></div>
                                            <div class="col" style="padding-left: 10px;">
                                            	<a href="__APP__/home/study/studyDetail/id//{$vo.school_id}" >
                                            <p>{$vo.school_excerpt}</p>
                                            	</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="item-bmbox">
                                                <span class="nub">成员：{$vo.account_count}</span>
                                                <span class="to">+关注</span>
                                            </div>
										</div>
									</div>
								</div>
							</volist>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
                <div class="clearfix"></div>
			</div>
		</div>
        <!--容器end-->
        
        <!--容器begin-->
		<div class="container"> 
			<div class="background-ff">    
				<div class="kcxx">
					<div class="kcxx-title">
						<div class="tio"><i class="s-ico"></i><span>学习资讯</span></div>
                   	</div>
                   	<div class="kcxx-main">
            			<div class="zixun-l" style="margin-top: 20px;">                                
	                		<div class="bg title zixun-t">
		                    	<div class="title-main">                        
			                    	<span onmouseover="ShowTab(1,1,10);showArticle('ibstudy','tab1Ul')" id="Span1">IB学习</span>|
			                    	<span onmouseover="ShowTab(2,1,10);showArticle('alevelstudy','tab2Ul')" id="Span2">Alevel/IGCSE</span>|
			                    	<span onmouseover="ShowTab(3,1,10);showArticle('apstudy','tab3Ul')" id="Span3">AP学习</span>|
			                    	<span onmouseover="ShowTab(4,1,10);showArticle('satstudy','tab4Ul')" id="Span4">SAT学习</span>|
			                    	<span onmouseover="ShowTab(5,1,10);showArticle('ysstudy','tab5Ul')" id="Span5">雅思学习</span>|
			                    	<span onmouseover="ShowTab(6,1,10);showArticle('tfstudy','tab6Ul')" id="Span6">托福学习</span>|
			                    	<span onmouseover="ShowTab(7,1,10);showArticle('otherstudy','tab7Ul')" id="Span7">其它</span>|
			                    	<span onmouseover="ShowTab(8,1,10);showArticle('schoolexam','tab8Ul')" id="Span8">学校考试</span>|
			                    	<span onmouseover="ShowTab(9,1,10);showArticle('act','tab9Ul')" id="Span9">ACT</span>
		                    	</div>
		                	</div>
		                	<div class="index-li">                    
			                	<div id="Tab1">   
									<ul id="tab1Ul" class="xxjs-list">
									</ul>
									<!--<div class="bottom-next"></div> -->
			                	</div>
		                    	<div id="Tab2">
		                        	<ul id="tab2Ul" class="xxjs-list"></ul>
		                   		</div>
		                    	<div id="Tab3">
		                        	<ul id="tab3Ul" class="xxjs-list"></ul>
		                    	</div>
		                    	<div id="Tab4">
		                        	<ul id="tab4Ul" class="xxjs-list"></ul>
		                    	</div>
		                    	<div id="Tab5">
		                        	<ul id="tab5Ul" class="xxjs-list"></ul>
		                    	</div>   
		                    	<div id="Tab6">
		                        	<ul id="tab6Ul" class="xxjs-list"></ul>
		                    	</div>   
		                    	<div id="Tab7">
		                        	<ul id="tab7Ul" class="xxjs-list"></ul>
		                    	</div>   
		                    	<div id="Tab8">
		                        	<ul id="tab8Ul" class="xxjs-list"></ul>
		                    	</div>   
		                    	<div id="Tab9">
		                        	<ul id="tab9Ul" class="xxjs-list"></ul>
		                    	</div>
		                		<SCRIPT type="text/javascript">ShowTab(1, 1, 10);</SCRIPT>
		                	</div>
            			</div>
		            	<div class="zixun-r" style="margin-top: 20px;">
		                	<!-- 有用的文章15篇 -->
		            		<include file="./Application/Home/View/Public/usefulArticle.html" />
		                	<!-- 关于我们 -->
							<include file="./Application/Home/View/Public/aboutUs.html" />
		            	</div>
            			<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
        <!--容器end-->
	</div>
    <include file="./Application/Home/View/Public/footer.html" />
</body>
    
    <script type="text/javascript">
        $(document).ready(function () {
            var _ch = $(".container-body").height();
            var _wh = $(window).height();
            if (_wh - _ch > 377) {
                $(".container-body").css("min-height", (_wh - 397) + "px");
            }
        })
        
        jQuery(document).ready(function($){
        	showArticle('ibstudy','tab1Ul');
    		// UsefulArticle
    		showUserfulArticle('expert','usefulArticle');
    		// TopSchool
    		showTopSchool('topSchool');
        });
        
    	function showArticle(cataloge,dispId){
    		var articleQueryUrl = "__APP__/home/index/articleQuery";
    		$.ajax({
				type: 'POST',
				url: articleQueryUrl ,
				data:{'cataloge':cataloge},
				dataType:'json',
				success: function(msg){
					if(msg.data!=null){
						var articleView = $('#'+dispId);
						articleView.text("");
						var rowIndex=1;
						msg.data.forEach(function(vo){
							var imagePath=vo.imagePath;
							if(imagePath==null|| imagePath==""){
								imagePath="__PUBLIC__/home/images/jpg1.jpg";
							}

							var articleItem='<li>'
								+'<a href="__APP__/home/news/newsDetail/id/'+vo.article_id+'"><img src="'+imagePath+'" width="266" height="143"/></a>'
								+'<div class="con">'
								+'<div class="xxjs-list-tit"><span class="sxzd lv"><a href="__APP__/home/news/newsDetail/id/'+vo.article_id+'" >'+vo.article_title+'</a></span></div>'
								+' <div class="xxjs-main">'+vo.article_excerpt+'</div>'
								+' <div class="icon-ai">'
								+'	<span class="icon-z">置顶'+vo.article_top+'</span>'
								+'	<span class="icon-j">精品'+ vo.article_elite +'</span>'
								+' </div>'
								+' <div class="icon-box">'
								+' <span class="icon-y">有用'+vo.article_useful+'</span>'
								+' <span class="icon-yue">阅读数'+vo.article_read+'</span>'
								+' <span class="icon-g">跟帖数'+vo.article_comment+'</span>'
								+' </div>'
								+' </div>'
								+'</li>';	
							articleView.append(articleItem);
							rowIndex++;
						});
					}
				}
			});
    	}

        /* 前15有用的文章 */
    	function showUserfulArticle(cataloge,dispId){
    		var usefulArticleQueryUrl = "__APP__/home/index/usefulArticleQuery";
    		$.ajax({
				type: 'POST',
				url: usefulArticleQueryUrl ,
				data:{'cataloge':cataloge},
				dataType:'json',
				success: function(msg){
					if(msg.data!=null){
						var articleView = $('#'+dispId);
						articleView.text("");
						var rowIndex=1;
						msg.data.forEach(function(vo){
							var articleItem='<li>'
								+'<i>'+rowIndex+'</i>'
								+'<a href="__APP__/home/news/newsDetail/id/'+vo.article_id+'"><div>'+vo.article_title+'</div></a>'
								+'</li>';	
							articleView.append(articleItem);
							rowIndex++;
						});
					}
				}
			});
    	}

    	/* 前15的学校 */
    	function showTopSchool(dispId){
    		var usefulSchoolUrl = "__APP__/home/index/topSchool";
    		$.ajax({
				type: 'POST',
				url: usefulSchoolUrl ,
				//data:{'cataloge':cataloge},
				dataType:'json',
				success: function(msg){
					if(msg.data!=null){
						var schoolView = $('#'+dispId);
						schoolView.text("");
						var rowIndex=1;
						msg.data.forEach(function(vo){
							var schoolItem='<li>'
								+'<i>'+rowIndex+'</i>'
								+'<a href="__APP__/home/School/schoolDetail1/id/'+vo.school_id+'">'+vo.school_name+'</a>'
								+'</li>';	
								schoolView.append(schoolItem);
							rowIndex++;
						});
					}
				}
			});
    	}
    </script>
</html>