<!-- bootstrap -->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/style.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/main.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/page.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/owl.carousel.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/owl.theme.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Admission.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/container.css" />
<!-- jquery -->
<script type="text/javascript" src="__PUBLIC__/home/js/jQuery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/sliding.js"></script>
