<meta charset="UTF-8">
<div class="index-bottom">
    <div class="index-04">
        <div class="tit">
            <a href="__APP__/home/news/newsList" class="right more">更多...</a>
            	国际学校Q&A
        </div>
        <div class="index-05">
            <div class="divide-wrap">
                <div class="colorbar-one"></div>
                <div class="colorbar-two"></div>
                <div class="colorbar-three"></div>
                <div class="colorbar-four"></div>
            </div>
        </div>
        <div class="index-06">                    
         <span onmouseover="ShowTab(7,7,10);showQAList('qaischool','tab7Ul')" id="Span7">国际学校</span>
         <span onmouseover="ShowTab(8,7,10);showQAList('qaicourse','tab8Ul')" id="Span8">国际课程</span>
         <span onmouseover="ShowTab(9,7,10);showQAList('qaichoose','tab9Ul')" id="Span9">如何选择</span>
        </div>
        <div class="index-07">                    
         <div id="Tab7">
                <ul id="tab7Ul" class="ul-1"></ul>
         </div>
            <div id="Tab8">
                <ul id="tab8Ul" class="ul-1"></ul>
            </div>
            <div id="Tab9">
                <ul id="tab9Ul" class="ul-1"></ul>
            </div>
        <SCRIPT type="text/javascript">ShowTab(7, 7,10);</SCRIPT>
        </div>
    </div>
</div>