<meta charset="UTF-8">
<div class="index-01">
    <div class="index-01-title">
        <a href="#" class="right">查看更多...</a>精彩推荐
    </div>
    <div class="index-02">
        <ul>
            <li>
                <a href="#">
                   <div class="img">
                       <img src="__PUBLIC__/home/images/i_11.jpg" />
                       <div class="img-t">
                           <h2>校长语录</h2>
                           <p>ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .</p>
                       </div>
                   </div>
                    <div class="title">北京艾迪国际学校</div>
                </a>
            </li>
            <li>
                <a href="#">
                   <div class="img">
                       <img src="__PUBLIC__/home/images/i_13.jpg" />
                       <div class="img-t">
                           <h2>校长语录</h2>
                           <p>ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .</p>
                       </div>
                   </div>
                    <div class="title">北京艾迪国际学校</div>
                </a>
            </li>
            <li>
                <a href="#" class="cur">
                   <div class="img">
                       <img src="__PUBLIC__/home/images/i_15.jpg" />
                       <div class="img-t">
                           <h2>校长语录</h2>
                           <p>ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .</p>
                       </div>
                   </div>
                    <div class="title">北京艾迪国际学校</div>
                </a>
            </li>
            <li>
                <a href="#">
                   <div class="img">
                       <img src="__PUBLIC__/home/images/i_17.jpg" />
                       <div class="img-t">
                           <h2>校长语录</h2>
                           <p>ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .</p>
                       </div>
                   </div>
                    <div class="title">北京艾迪国际学校</div>
                </a>
            </li>
            <li>
                <a href="#">
                   <div class="img">
                       <img src="__PUBLIC__/home/images/i_19.jpg" />
                       <div class="img-t">
                           <h2>校长语录</h2>
                           <p>ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .</p>
                       </div>
                   </div>
                    <div class="title">北京艾迪国际学校</div>
                </a>
            </li>
        </ul>
            <div class="clearfix"></div>
    </div>
</div>