<meta charset="UTF-8">
<if condition="$currNav eq 'detail1' ">
<div class="school-title">
    <div class="item rico-6"><a href="__APP__/home/Topic/topicList/groupType/0/schoolId/{$schoolId}">话题区</a></div>
    <div class="item rico-5"><a href="__APP__/home/School/schoolDetail5/id/{$schoolId}">视频</a></div>
    <div class="item rico-4"><a href="__APP__/home/School/schoolDetail4/id/{$schoolId}">学生会</a></div>
    <div class="item rico-3"><a href="__APP__/home/School/schoolDetail3/id/{$schoolId}">学校动态</a></div>
    <div class="item rico-2"><a href="__APP__/home/School/schoolDetail2/id/{$schoolId}">招生信息</a></div>
    <div class="item rico-1-cur"><a href="__APP__/home/School/schoolDetail1/id/{$schoolId}">学校介绍</a></div>
</div>
</if>
<if condition="$currNav eq 'detail2' ">
<div class="school-title">
    <div class="item rico-6"><a href="__APP__/home/Topic/topicList/groupType/0/schoolId/{$schoolId}">话题区</a></div>
    <div class="item rico-5"><a href="__APP__/home/School/schoolDetail5/id/{$schoolId}">视频</a></div>
    <div class="item rico-4"><a href="__APP__/home/School/schoolDetail4/id/{$schoolId}">学生会</a></div>
    <div class="item rico-3"><a href="__APP__/home/School/schoolDetail3/id/{$schoolId}">学校动态</a></div>
    <div class="item rico-2-cur"><a href="__APP__/home/School/schoolDetail2/id/{$schoolId}">招生信息</a></div>
    <div class="item rico-1"><a href="__APP__/home/School/schoolDetail1/id/{$schoolId}">学校介绍</a></div>
</div>
</if>
<if condition="$currNav eq 'detail3' ">
<div class="school-title">
    <div class="item rico-6"><a href="__APP__/home/Topic/topicList/groupType/0/schoolId/{$schoolId}">话题区</a></div>
    <div class="item rico-5"><a href="__APP__/home/School/schoolDetail5/id/{$schoolId}">视频</a></div>
    <div class="item rico-4"><a href="__APP__/home/School/schoolDetail4/id/{$schoolId}">学生会</a></div>
    <div class="item rico-3-cur"><a href="__APP__/home/School/schoolDetail3/id/{$schoolId}">学校动态</a></div>
    <div class="item rico-2"><a href="__APP__/home/School/schoolDetail2/id/{$schoolId}">招生信息</a></div>
    <div class="item rico-1"><a href="__APP__/home/School/schoolDetail1/id/{$schoolId}">学校介绍</a></div>
</div>
</if>
<if condition="$currNav eq 'detail4' ">
<div class="school-title">
    <div class="item rico-6"><a href="__APP__/home/Topic/topicList/groupType/0/schoolId/{$schoolId}">话题区</a></div>
    <div class="item rico-5"><a href="__APP__/home/School/schoolDetail5/id/{$schoolId}">视频</a></div>
    <div class="item rico-4-cur"><a href="__APP__/home/School/schoolDetail4/id/{$schoolId}">学生会</a></div>
    <div class="item rico-3"><a href="__APP__/home/School/schoolDetail3/id/{$schoolId}">学校动态</a></div>
    <div class="item rico-2"><a href="__APP__/home/School/schoolDetail2/id/{$schoolId}">招生信息</a></div>
    <div class="item rico-1"><a href="__APP__/home/School/schoolDetail1/id/{$schoolId}">学校介绍</a></div>
</div>
</if>
<if condition="$currNav eq 'detail5' ">
<div class="school-title">
    <div class="item rico-6"><a href="__APP__/home/Topic/topicList/groupType/0/schoolId/{$schoolId}">话题区</a></div>
    <div class="item rico-5-cur"><a href="__APP__/home/School/schoolDetail5/id/{$schoolId}">视频</a></div>
    <div class="item rico-4"><a href="__APP__/home/School/schoolDetail4/id/{$schoolId}">学生会</a></div>
    <div class="item rico-3"><a href="__APP__/home/School/schoolDetail3/id/{$schoolId}">学校动态</a></div>
    <div class="item rico-2"><a href="__APP__/home/School/schoolDetail2/id/{$schoolId}">招生信息</a></div>
    <div class="item rico-1"><a href="__APP__/home/School/schoolDetail1/id/{$schoolId}">学校介绍</a></div>
</div>
</if>
<if condition="$currNav eq 'detail6' ">
<div class="school-title">
    <div class="item rico-6-cur"><a href="__APP__/home/Topic/topicList/groupType/0/schoolId/{$schoolId}">话题区</a></div>
    <div class="item rico-5"><a href="__APP__/home/School/schoolDetail5/id/{$schoolId}">视频</a></div>
    <div class="item rico-4"><a href="__APP__/home/School/schoolDetail4/id/{$schoolId}">学生会</a></div>
    <div class="item rico-3"><a href="__APP__/home/School/schoolDetail3/id/{$schoolId}">学校动态</a></div>
    <div class="item rico-2"><a href="__APP__/home/School/schoolDetail2/id/{$schoolId}">招生信息</a></div>
    <div class="item rico-1"><a href="__APP__/home/School/schoolDetail1/id/{$schoolId}">学校介绍</a></div>
</div>
</if>