<meta charset="UTF-8">
<div class="item col2">
                    <div class="title">
                        <span>最新学校点评信息</span>
                    </div>
                    <ul class="you-c">
                    	<volist name="topCommentList" id="vo">
	                        <li>
	                            <div class="img">
	                                <img src="__PUBLIC__/home/images/p_53.jpg" />
	                            </div>
	                            <div class="box">
	                                <div class="t">昆山加拿大国际学校</div>
	                                <div class="b">
	                                    ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .asa
	young .It's hunting season And this lamb is on the run .ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .on .Youth is wasted on the young .It's hunting season And this lamb is on the run .
	                                </div>
	                            </div>
	                        </li>
                        </volist>
                        <li>
                            <div class="img">
                                <img src="__PUBLIC__/home/images/p_53.jpg" />
                            </div>
                            <div class="box">
                                <div class="t">昆山加拿大国际学校</div>
                                <div class="b">
                                    ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .asa
young .It's hunting season And this lamb is on the run .ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .on .Youth is wasted on the young .It's hunting season And this lamb is on the run .
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="__PUBLIC__/home/images/p_53.jpg" />
                            </div>
                            <div class="box">
                                <div class="t">昆山加拿大国际学校</div>
                                <div class="b">
                                    ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .asa
young .It's hunting season And this lamb is on the run .ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .on .Youth is wasted on the young .It's hunting season And this lamb is on the run .
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="__PUBLIC__/home/images/p_53.jpg" />
                            </div>
                            <div class="box">
                                <div class="t">昆山加拿大国际学校</div>
                                <div class="b">
                                    ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .asa
young .It's hunting season And this lamb is on the run .ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .on .Youth is wasted on the young .It's hunting season And this lamb is on the run .
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="__PUBLIC__/home/images/p_53.jpg" />
                            </div>
                            <div class="box">
                                <div class="t">昆山加拿大国际学校</div>
                                <div class="b">
                                    ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .asa
young .It's hunting season And this lamb is on the run .ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .on .Youth is wasted on the young .It's hunting season And this lamb is on the run .
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="__PUBLIC__/home/images/p_53.jpg" />
                            </div>
                            <div class="box">
                                <div class="t">昆山加拿大国际学校</div>
                                <div class="b">
                                    ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .asa
young .It's hunting season And this lamb is on the run .ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .on .Youth is wasted on the young .It's hunting season And this lamb is on the run .
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="__PUBLIC__/home/images/p_53.jpg" />
                            </div>
                            <div class="box">
                                <div class="t">昆山加拿大国际学校</div>
                                <div class="b">
                                    ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .asa
young .It's hunting season And this lamb is on the run .ason .Youth is wasted on the young .It's hunting season And this lamb is on the run .on .Youth is wasted on the young .It's hunting season And this lamb is on the run .
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>