<meta charset="UTF-8">
<div class="xueli-r left" style=" min-height:778px;max-height:778px;background-color: #05b865;">
    <div class="list-07">
        <div class="list_08">
            <img src="__PUBLIC__/home/images/list_08.jpg" />
        </div>
        <div class="list_09">
            <ul>
            	<volist name="topSchoolList" id="vo" >
                	<li><i>{$i}</i><a href="__APP__/home/School/schoolDetail1/id/{$vo.school_id}">{$vo.school_name}</a></li>
             	 </volist>
            </ul>
        </div>

    </div>
</div>