<!DOCTYPE html>
<html>
<head>


<meta charset="UTF-8">
<title>莘莘学子</title>
	
	<link rel="stylesheet" href="http://fonts.useso.com/css?family=Arimo:400,700,400italic">
	<load href="__PUBLIC__/assets/css/fonts/linecons/css/linecons.css" />
	<load href="__PUBLIC__/assets/css/fonts/fontawesome/css/font-awesome.min.css" />
	<load href="__PUBLIC__/assets/css/bootstrap.css" />
	<load href="__PUBLIC__/assets/css/xenon-core.css" />
	<load href="__PUBLIC__/assets/css/xenon-forms.css" />
	<load href="__PUBLIC__/assets/css/xenon-components.css" />
	<load href="__PUBLIC__/assets/css/xenon-skins.css" />
	<load href="__PUBLIC__/assets/css/custom.css" />
	<load href="__PUBLIC__/assets/js/jquery-1.11.1.min.js" />