<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>莘莘网</title>
<!-- bootstrap -->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css" />

<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/main.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/owl.carousel.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/owl.theme.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/Admission.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/style.css" />
<!-- jquery -->
<script type="text/javascript" src="__PUBLIC__/home/js/jQuery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/sliding.js"></script>
</head>
<body>
    <div class="container-body">
        <!--头部begin-->
        <include file="./Application/Home/View/Public/navigation.html" />
        <!--头部end-->

        <!--容器begin-->
        <div class="container bgcolorf">
            <div class="reg regb">
                <div class="item cur">注册账号</div>
                <div class="item cur">填写基本信息</div>
                <div class="item">完成注册</div>
            </div>
            <div class="reg-tag">
                <h3 class="lv">为了更好的帮助您或您的孩子，请填写真实有效的信息数据!</h3>
            </div>
            <div class="reg-box">
                <div class="reg-tit lv">
                    <h4>个人信息和联系方式</h4>
                </div>
                <div class="reg-main">                    
                    <form class="form-horizontal" action="__APP__/home/User/registerStep3">
                        <input name="userLogin" type="hidden" value="{$userLogin}">
                        <div class="form-group reg-er">
                            <label class="reg-t1 control-label"><i>*</i>姓名</label>
                            <span class="reg-t2">
                                <input type="text" name="userName" id="userName" class="form-control" >
                            </span>
							<span class="reg-t3">                                    
								<label class="radio-inline">
									<input type="radio" name="userSex" id="userSex" value="1"> 男
								</label>
								<label class="radio-inline">
									<input type="radio" name="userSex" id="userSex"  value="0"> 女
								</label>
							</span>
							<span class="reg-t4 control-label"> 注：请输入真实姓名以用于学校、课程报名</span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group reg-er">
                            <label class="reg-t1 control-label"><i>*</i>生日</label>
                            <span class="reg-t2 reg-tc">
                            	<input type="text" id="userBirthday" name="userBirthday" class="form-control"/>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group reg-er">
                            <label class="reg-t1 control-label"><i></i>QQ号码</label>
                            <span class="reg-t2 reg-tc">
                                <input type="text" name="userQQ" id="userQQ" class="form-control" >
                            </span>                               
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group reg-er">
                            <label class="reg-t1 control-label"><i></i>电子邮箱</label>
                            <span class="reg-t2 reg-tc">
                                <input type="text" name="name"  class="form-control" >
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group reg-er">
                            <label class="reg-t1 control-label"><i></i>邮寄地址</label>
                            <span class="reg-t2 reg-tc">
                                <input type="text" id="userEmail" name="userEmail" class="form-control" >
                            </span>
                            <div class="clearfix"></div>
                        </div>
<!--                         <div class="text-right reg-b">我们十分重视您的隐私，查看保密政策</div>   -->  
                        <div class="reg-tit lv">
                            <h4>学校信息</h4>
                        </div>
                        <div class="form-group reg-er">
                            <span class="reg-t2 select-ico-box">
                                <select class="form-control reg-select" id="">
                                    <option value="">请选择</option>
                                    <option value="意向">意向</option>
                                    <option value="在读">在读</option>
                                </select>
                                <span class="select-ico"></span>
                            </span>
                            <span class="reg-t2 select-ico-box">
                                <select class="form-control reg-select">
                                    <option value="">请选择</option>
                                    <option value="美国">美国</option>
                                    <option value="英国">英国</option>
                                    <option value="加拿大">加拿大</option>
                                    <option value="澳大利亚">加拿大</option>
                                    <option value="新西兰">加拿大</option>
                                    <option value="其他">其他</option>
                                </select>
                                <span class="select-ico"></span>
                            </span>
                            <span class="reg-t2 reg-tx select-ico-box">
                                <select class="form-control reg-select">
                                    <option value="">请选择</option>
                                    <option value="学校001">学校001</option>
                                    <option value="学校002">学校002</option>
                                </select>
                                <span class="select-ico"></span>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group reg-er">
                            <div class="reg-b1">
                                 <input type="text" name=""  class="form-control"  placeholder="如果列表内没有">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group reg-er">
                            <label class="reg-t1 control-label"><i>*</i>留学方向</label>
                            <span class="reg-t2 select-ico-box">
                                <select class="form-control reg-select">
									<option value="">请选择</option>
                                    <option value="美国">美国</option>
                                    <option value="英国">英国</option>
                                    <option value="加拿大">加拿大</option>
                                    <option value="澳大利亚">加拿大</option>
                                    <option value="新西兰">加拿大</option>
                                    <option value="其他">其他</option>
                                </select>
                                <span class="select-ico"></span>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="form-group reg-er">
                            <label class="reg-t1 reg-t1x control-label"><i>*</i>有无培训需求</label>
                            <span class="reg-t2 select-ico-box">
                                <select class="form-control reg-select">
                                    <option value="">请选择</option>
                                    <option value="是">是</option>
                                    <option value="否">否</option>
                                </select>
                                <span class="select-ico"></span>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <!-- 
                        <div class="reg-tit lv">
                            <h4>验证码</h4>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i>*</i>验证码&nbsp;&nbsp;&nbsp</label>
                            <span class="col-sm-4 yzm">
                                <span class="col-sm-7">
                                    <input type="text" name="verify"  class="form-control" >
                                </span>
                                <span class="col-sm-5" id="captcha-container">
									  <img width="30%" class="form-control" height="50" alt="验证码" src="{:U('Home/User/verify_c',array())}" title="点击刷新">  
                                </span>                                
                            </span>
                        </div> -->
                        <div class="form-group reg-er">
                            <div class="reg-btnr">
                                    <input type="submit" value="同意协议并注册" class="btn  btn-block btn-xh" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--容器end-->
    </div>

    <include file="./Application/Home/View/Public/footer.html" />
</body>
    
    <script type="text/javascript">
        $(document).ready(function () {
            var _ch = $(".container-body").height();
            var _wh = $(window).height();
            if (_wh - _ch > 377) {
                $(".container-body").css("min-height", (_wh - 397) + "px");
            }
        });
        
        var captcha_img = $('#captcha-container').find('img');
		var verifyimg = captcha_img.attr("src");  
		captcha_img.attr('title', '点击刷新');  
		captcha_img.click(function(){  
		    if( verifyimg.indexOf('?')>0){
		        $(this).attr("src", verifyimg+'&random='+Math.random());  
		    }else{  
		        $(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());  
		    }  
		});

    </script>
</html>
