<!DOCTYPE html>
<html>
<head>


<meta charset="UTF-8">
<title>莘莘学子</title>
	
	<link rel="stylesheet" href="http://fonts.useso.com/css?family=Arimo:400,700,400italic">
	<load href="__PUBLIC__/assets/css/fonts/linecons/css/linecons.css" />
	<load href="__PUBLIC__/assets/css/fonts/fontawesome/css/font-awesome.min.css" />
	<load href="__PUBLIC__/assets/css/bootstrap.css" />
	<load href="__PUBLIC__/assets/css/xenon-core.css" />
	<load href="__PUBLIC__/assets/css/xenon-forms.css" />
	<load href="__PUBLIC__/assets/css/xenon-components.css" />
	<load href="__PUBLIC__/assets/css/xenon-skins.css" />
	<load href="__PUBLIC__/assets/css/custom.css" />
	<load href="__PUBLIC__/assets/js/jquery-1.11.1.min.js" />
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="page-body">
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div class="sidebar-menu toggle-others fixed expanded">
			
			<div class="sidebar-menu-inner">	
				
				<header class="logo-env">
					
					<!-- logo -->
					<div class="logo">
						<a href="index.html" class="logo-expanded">
							<h1 style="color:#FFF">莘莘学子</h1>
						</a>
						<a href="index.html" class="logo-collapsed">
							<span style="color:#FFF">XXSZ</span>
						</a>
					</div>
				</header>
				<ul id="main-menu" class="main-menu">
					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
					<volist name="menulist" id="vo" key="index">
						<if condition="($vo.fun_level eq 1) AND ($index eq 1) ">
							<if condition="($vo.fun_name eq $catalogId)">
								<li class="opened active">
							<else/>
								<li>
							</if>
								<a href="__APP__{$vo.fun_url}">
									<span class="title">{$vo.fun_name}</span>
								</a>
								<ul>
						<elseif condition="($vo.fun_level eq 1)"/>
								</ul>
							</li>
							<if condition="($vo.fun_name eq $catalogId)">
								<li class="opened active">
							<else/>
								<li>
							</if>
								<a href="__APP__{$vo.fun_url}">
									<span class="title">{$vo.fun_name}</span>
								</a>
								<ul>
						<elseif condition="($vo.fun_level eq 2)"/>
							<if condition="($vo.fun_name eq $funId)">
								<li class="active">
							<else/>	
								<li>
							</if>
									<a href="__APP__{$vo.fun_url}">
										<span class="title">{$vo.fun_name}</span>
									</a>
								</li>
						</if>
					</volist>
					</ul>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="main-content">	
			<!-- User Info, Notifications and Menu Bar -->
			<nav class="navbar user-info-navbar" role="navigation">
				
				<!-- Left links for user info navbar -->
				<ul class="user-info-menu left-links list-inline list-unstyled">
					
					<li class="hidden-sm hidden-xs">
						<a href="#" data-toggle="sidebar">
							<i class="fa-bars"></i>
						</a>
					</li>
				</ul>
				<!-- Right links for user info navbar -->
				<ul class="user-info-menu right-links list-inline list-unstyled">
					<li class="dropdown user-profile">
						<a href="#" data-toggle="dropdown">
							<img src="__PUBLIC__/assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								{$user.user_name}
							</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="page-title">
<!-- 				<div class="title-env">
					<h3 class="title">学校管理</h3>
				</div> -->
				<div class="breadcrumb-env">
					<ol class="breadcrumb bc-1">
						<li>
							<a href=""><i class="fa-home"></i>首页</a>
						</li>
						<li>
							<a href="">校园动态</a>
						</li>
						<li class="active">
							<strong>校园新闻列表</strong>
						</li>
					</ol>		
				</div>
					
			</div>
			<!-- Content Panel -->
			<div class="row">
				<div class="col-md-12">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{$schoolInfo.school_name} - 校园新闻列表</h3>
							<div style="float:right">
								<a href="__APP__/News/newsDetail" class="btn btn-success">添加校园新闻</a>
							</div>
						</div>
						<div class="panel-body">

							<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#example-2").dataTable({
									aLengthMenu: [
													[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
												],
									//dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
									aoColumns: [
										{bSortable: false},
										null,
										null,
										null
									],
								});
								
								// Replace checkboxes when they appear
								var $state = $("#example-2 thead input[type='checkbox']");
								
								$("#example-2").on('draw.dt', function()
								{
									cbr_replace();
									
									$state.trigger('change');
								});
								
								// Script to select all checkboxes
								$state.on('change', function(ev)
								{
									var $chcks = $("#example-2 tbody input[type='checkbox']");
									
									if($state.is(':checked'))
									{
										$chcks.prop('checked', true).trigger('change');
									}
									else
									{
										$chcks.prop('checked', false).trigger('change');
									}
								});
							});
							</script>
							<table class="table table-bordered table-striped" id="example-2">
								<thead>
									<tr>
										<th class="no-sorting">
											<input type="checkbox" class="cbr">
										</th>
										<th style="width:60%">新闻标题</th>
										<th style="width:20%">新闻状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody class="middle-align">
									<volist name="newslist" id="vo">
									<tr>
										<td>
											<input type="checkbox" class="cbr" value="{$vo.article_id}">
										</td>
										<td>{$vo.article_title}</td>
										<td>{$vo.article_status}</td>
										<td>
											<a href="__APP__/News/newsDetail/id/{$vo.article_id}" class="btn btn-secondary btn-sm btn-icon icon-left">
												编辑
											</a>
										</td>
									</tr>
									</volist>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<footer class="main-footer sticky footer-type-1">
				<div class="footer-inner">
					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">
						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>
	<load href="__PUBLIC__/assets/js/datatables/dataTables.bootstrap.css" />

	<!-- Bottom Scripts -->
	<load href="__PUBLIC__/assets/js/bootstrap.min.js" />
	<load href="__PUBLIC__/assets/js/TweenMax.min.js" />
	<load href="__PUBLIC__/assets/js/resizeable.js" />
	<load href="__PUBLIC__/assets/js/joinable.js" />
	<load href="__PUBLIC__/assets/js/xenon-api.js" />
	<load href="__PUBLIC__/assets/js/xenon-toggles.js" />
	
	<load href="__PUBLIC__/assets/js/datatables/js/jquery.dataTables.min.js" />
	
	

	<!-- Imported scripts on this page -->
	<load href="__PUBLIC__/assets/js/datatables/dataTables.bootstrap.js" />
	<load href="__PUBLIC__/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js" />
	<load href="__PUBLIC__/assets/js/datatables/tabletools/dataTables.tableTools.min.js" />

	<!-- Imported scripts on this page -->
	<load href="__PUBLIC__/assets/js/rwd-table/js/rwd-table.min.js"/>

	<!-- JavaScripts initializations and stuff -->
	<load href="__PUBLIC__/assets/js/xenon-custom.js" />
</html>