<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>莘莘网</title>
<include file="./Application/Home/View/Public/headforArticle.html" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/home/css/login.css" />
</head>
<body>
    <div class="container-body">
        <!--头部begin-->
        <include file="./Application/Home/View/Public/navigation.html" />
        <!--头部end-->
        <!--topbannerbegin-->
         <div class="container">
             <div class="topbanner">
                 <img src="__PUBLIC__/home/images/topbanner.jpg" alt="" />
             </div>
         </div>
        <!--topbannerend-->
        <!--容器begin-->
        <div class="container" style="padding-bottom: 100px;"> 
            <div class="background-ff">    
                <!--左边begin-->
                <div class="h-side left">
                	<!--登录-->
                	<if condition="!isset($_SESSION['userInfo'])">
                    <div class="h-side-box h-side-g">
	                    <div style="top: 51px;right: 0px;background-color: #fff;">
	                    	<div class="login_title"><span class="h3">立刻登录</span><span class="zc"><a href="register_step1.html">立即注册</a></span></div>
	                    	<div class="login_body">
	                        	<form action="student_index.html" method="post">
	                        		<div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
	                            		<input type="text" class="form-control" name="UserName" required value="" placeholder="邮箱/用户名/已验证手机">
	                        		</div>
	                        		<div class="input-group"> <span class="input-group-addon"> <i class="fa fa-pas"></i> </span>
	                            		<input type="text" class="form-control" name="UserName" required value="" placeholder="密码">
	                        		</div>
	                        		<div class="input-group item">
	                            		<div class="pull-right">
	                            			<a href="#forget-panel" data-toggle="modal" aria-hidden="true" data-dismiss="modal">忘记密码?</a>
	                            		</div>
	                       			</div>
	                       	 		<div class="form-group item">
	                          			<button class="btn btn-xh form-control" type="submit">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
	                        		</div>
	                            </form>
	                    	</div>
	                	</div>
                    </div>
                    <else/>
                    <!--我的关注begin-->
                    <div class="h-side-box h-side-g">
                        <div class="h-side-t">
                            <h2>我在话题区</h2>
                        </div>
                        <div class="h-side-box">
                            <div class="h-img" >
                                <img src="__PUBLIC__/home/images/problem2.jpg" alt=""  class=" img-circle"/>
                                <p>上海小组</p>
                            </div>
                        </div>
                        <h3 class="h-side-span">我的关注</h3>
                        <div class="h-side-forums">
                            <a target="_blank" href="#" class="h-f-item unsign">上海枫叶上海枫叶<span class="forum_level lv9"></span></a>
                            <a target="_blank" href="#" class="h-f-item unsign">上海枫叶<span class="forum_level lv12"></span></a>
                            <a target="_blank" href="#" class="h-f-item unsign">上海枫叶<span class="forum_level lv12"></span></a>
                            <a target="_blank" href="#" class="h-f-item unsign">上海枫叶<span class="forum_level lv12"></span></a>
                            <a target="_blank" href="#" class="h-f-item unsign">上海枫叶<span class="forum_level lv12"></span></a>
                            <a target="_blank" href="#" class="h-f-item unsign">上海枫叶<span class="forum_level lv12"></span></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="h-side-more">
                            <a href="#" title="" class="more">查看更多</a>
                        </div>
                        <div class="h-side-box">
                            <div class="h-side-p">
                                <p>我发布的话题<span>1</span></p>
                                <p>我加入的话题<span>1</span></p>
                            </div>
                        </div>
                    </div>
                    </if>
                    <!--我的关注end-->
                    <!--热门话题begin-->
                    <div class="area-box">
                        <div class="area-title">
                            <h2>一周你热门话题</h2>
                            <div class="area-l"></div>
                            <div class="area-r"></div>
                        </div>
                        <div class="area-main">
                            <ul class="favorite-list"> 
                            	<volist name="topTopic" id="vo">
	                            	<li>      
	                            	<div><a href="__APP__/home/topic/topicDetail/id/{$vo.article_id}" >{$vo.article_title}</a></div>
	                            	<div class="liAuthor">作者：{$vo.article_author}</div>
	                                    <div><span class="count-eye"><i class="icon-eye"></i>204578</span><a rel="external nofollow" class="count-infor" href="#"><i class="icon-infor"></i>3974</a></div>
	                                </li> 
                            	</volist>
                            </ul>
                        </div>
                    </div>
                    <!--热门话题end-->
                </div>
                <!--左边end-->
                <!--右边begin-->
                <div class="h-main right">
                    <div class="h-side-tit">
                        <div class="r-side-box">
                        	<if condition="$groupType eq 2">
								<span class="sxzd lv"><a href="__APP__/home/topic/topicList">全部</a></span>
                            	<span><a href="__APP__/home/topic/topicList/groupType/0">学校话题</a></span>
                            	<span><a href="__APP__/home/topic/topicList/groupType/1">学习小组</a></span>
							</if>
                            <if condition="$groupType eq 0">
								<span><a href="__APP__/home/topic/topicList">全部</a></span>
                            	<span class="sxzd lv"><a href="__APP__/home/topic/topicList/groupType/0">学校话题</a></span>
                            	<span><a href="__APP__/home/topic/topicList/groupType/1">学习小组</a></span>
							</if>
							<if condition="$groupType eq 1">
								<span><a href="__APP__/home/topic/topicList">全部</a></span>
                            	<span><a href="__APP__/home/topic/topicList/groupType/0">学校话题</a></span>
                            	<span class="sxzd lv"><a href="__APP__/home/topic/topicList/groupType/1">学习小组</a></span>
							</if>
                        </div>
                        <div class="r-search">
                            <input type="text" id="keyword" value="{$keyword}" placeholder="关键字模糊搜索" class="r-search-input form-control" />
                            <input type="hidden" id="groupType" value="{$groupType}" />
                            <input type="button" class="r-searcj-btn" onclick="doSearch()" value="搜索" />
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="r-main-title">
                        <div class="r-main-tit">
                            <h3>最新话题</h3>
                        </div>
                    </div>
                    <div class="r-main-box">
                        <ul class="newft-list">
                        	<volist name="topicList" id="vo">
	                        	<li>
	                                <a href="__APP__/home/topic/topicDetail/id/{$vo.article_id}"><img src="__PUBLIC__/home/images/abm.jpg" alt="" /></a>
	                                <div class="newft-list-tit">
	                                	<a href="__APP__/home/topic/topicDetail/id/{$vo.article_id}" ><span class="sxzd lv">{$vo.school_name}</span></a>
	                                	<a href="__APP__/home/topic/topicDetail/id/{$vo.article_id}" >{$vo.article_title}</a>
	                                	<!-- <i class="r-d">顶</i><i class="r-t">荐</i> -->
	                                </div>
                                	<div>{$vo.article_excerpt}</div>
                                	<div class="r-tag"><span class="liAuthor lv">{$vo.article_author}</span><!-- <span>2015年11月30日 17:25发表于【<a href="#">资讯点评</a>】 </span> --></div>
	                                <div class="icon-box">
	                                    <span class="icon-y">有用</span>
	                                    <span class="icon-yue">阅读数</span>
	                                    <span class="icon-g">跟帖数</span>
	                                </div>
	                            </li>
                        	</volist>
                        </ul>
                    </div>
                    <div class="green-black">
					　　{$page}
					</div>
                </div>
                <!--右边end-->
                <div class="clearfix"></div>
            </div>
        </div>
        <!--容器end-->
    </div>
    <include file="./Application/Home/View/Public/footer.html" />
</body>
    
    <script type="text/javascript">
        $(document).ready(function () {
            var _ch = $(".container-body").height();
            var _wh = $(window).height();
            if (_wh - _ch > 377) {
                $(".container-body").css("min-height", (_wh - 397) + "px");
            }
        })
        
		// 查询事件
        function doSearch(){
        	var keyword = $("#keyword").val();
        	var strKeyword='';
        	if(keyword!=''){
        		strKeyword = "/keyword/"+keyword;
        	}

        	var groupType = $("#groupType").val();
        	var strGroup='';
        	if(groupType!='2'){
        		strGroup = "/groupType/"+groupType;
        	}
        	
        	window.location.href= "__APP__/home/topic/topicList"+strGroup+strKeyword;
        }
    </script>
</html>
