<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>莘莘网</title>
<include file="./Application/Home/View/Public/headforArticle.html" />
</head>
<body>
    <div class="container-body">
        <!--头部begin-->
        <include file="./Application/Home/View/Public/navigation.html" />
        <!--头部end-->
        <!--topbannerbegin-->
         <div class="container">
             <div class="topbanner">
                 <img src="__PUBLIC__/home/images/topbanner3.jpg" alt="" />
             </div>
         </div>
        <!--topbannerend-->
        <!--容器begin-->
        <div class="container hua-main"> 

            <div class="zixun-l zx"  style="padding-right:28px;">
<!--                 <div class="prc">{$articleInfo.article_cataloge}</div> -->
                <div class="title">{$articleInfo.article_title}</div>
                <div class="des">
                    <span class="r1">作者：{$articleInfo.article_create_user}</span>
                    <span class="r2">来源：{$articleInfo.article_course}</span>
                    <span class="r3">{$articleInfo.article_create_time}</span>
                </div>
                <div class="zx-main">
                    <span>
                    {$articleInfo.article_detail}
                    </span>
                    <div class="main-ico">
                        <div class="icon-ai">
                            <span class="icon-z">置顶</span>
                            <span class="icon-j">精品</span>
                        </div>
                        <div class="icon-box">
                            <span class="icon-y">有用</span>
                            <span class="icon-yue">阅读数</span>
                            <span class="icon-g">跟帖数</span>
                        </div>
                    </div>
                     
                </div>
                <include file="./Application/Home/View/Public/articleComment.html"/>
            </div>
            <div class="zixun-r">
            	<!-- 有用的文章15篇 -->
            	<include file="./Application/Home/View/Public/usefulTopic.html" />
                <!-- 排名前15的学校 -->
                <include file="./Application/Home/View/Public/topSchool.html" />
				<!-- 关于我们 -->
				<include file="./Application/Home/View/Public/aboutUs.html" />
            </div>
            <div class="clearfix"></div>
        </div>
        <!--容器end-->
    </div>
    <include file="./Application/Home/View/Public/footer.html" />
</body>
    
    <script type="text/javascript">
        $(document).ready(function () {
            var _ch = $(".container-body").height();
            var _wh = $(window).height();
            if (_wh - _ch > 377) {
                $(".container-body").css("min-height", (_wh - 397) + "px");
            }
        })
        
         jQuery(document).ready(function($){
    		// UsefulArticle
    		showUserfulTopic('expert','usefulTopic');
    		// TopSchool
    		showTopSchool('topSchool');
        });
        
        /* 前15有用的话题 */
    	function showUserfulTopic(cataloge,dispId){
    		var usefulArticleQueryUrl = "__APP__/home/index/usefulTopicQuery";
    		$.ajax({
				type: 'POST',
				url: usefulArticleQueryUrl ,
				data:{'cataloge':cataloge},
				dataType:'json',
				success: function(msg){
					if(msg.data!=null){
						var articleView = $('#'+dispId);
						articleView.text("");
						var rowIndex=1;
						msg.data.forEach(function(vo){
							var articleItem='<li>'
								+'<i>'+rowIndex+'</i>'
								+'<a href="__APP__/home/topic/topicDetail/id/'+vo.article_id+'"><div>'+vo.article_title+'</div></a>'
								+'</li>';	
							articleView.append(articleItem);
							rowIndex++;
						});
					}
				}
			});
    	}
    	/* 前15的学校 */
    	function showTopSchool(dispId){
    		var usefulSchoolUrl = "__APP__/home/index/topSchool";
    		$.ajax({
				type: 'POST',
				url: usefulSchoolUrl ,
				//data:{'cataloge':cataloge},
				dataType:'json',
				success: function(msg){
					if(msg.data!=null){
						var schoolView = $('#'+dispId);
						schoolView.text("");
						var rowIndex=1;
						msg.data.forEach(function(vo){
							var schoolItem='<li>'
								+'<i>'+rowIndex+'</i>'
								+'<a href="__APP__/home/School/schoolDetail1/id/'+vo.school_id+'">'+vo.school_name+'</a>'
								+'</li>';	
								schoolView.append(schoolItem);
							rowIndex++;
						});
					}
				}
			});
    	}
    </script>
</html>
